body {
    font-family: 'Righteous',
        cursive;
    font-family: 'Roboto',
        sans-serif;
    background-color: #E5E5E5;
}

/* Top bar fixed */
header {
    background-color: #CF2B2B;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.brand_slogan {
    margin-left: 21px;
}

.brand_slogan h1 {
    font-size: 44px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: Righteous;
    margin-bottom: 5px;
}

.brand_slogan span {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: Roboto;
}

/* Choices dishes, drinks and desserts */
main {
    margin-top: 123px;
}

main p {
    font-size: 26px;
    color: #333333;
    font-weight: 400;
    font-family: Righteous;
    margin-left: 19px;
}

.orders {
    display: flex;
    margin-top: 17px;
    margin-bottom: 27px;
    overflow-x: scroll;
}

/* webkit-scrollbar = scrollbar customization */

.orders::-webkit-scrollbar {
    background-color: rgba(190, 188, 188, 0.3);
    height: 8px;
    border-radius: 5px;
}

.orders::-webkit-scrollbar-thumb {
    background-color: rgba(146, 144, 144, 0.9);
    border-radius: 5px;
}

.orders .box_order:first-child {
    margin-left: 19px;
}

.box_order {
    width: 172px;
    height: 216px;
    border-radius: 9px;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.order {
    margin: 0 14px;
    margin-top: 18px;
}

.order_price {
    margin-left: 14px;
    margin-bottom: 13px;
}

.orders__box_order__order__txt {
    width: 144px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.orders__box_order__order__name {
    font-size: 16px;
    font-weight: 700;
    font-family: Roboto;
    color: #333333;
    margin-bottom: 4px;
}

.orders__box_order__order__description {
    font-size: 15px;
    font-weight: 300;
    font-family: Roboto;
    color: #A6A6A6;
    margin-bottom: 5px;
    line-height: 18px;
}

.order_price {
    display: flex;
    justify-content: space-between;
}

.order_price ion-icon {
    color: #32B72F;
    margin-right: 12.78px;
    display: none;
    font-size: 15.44px;
}

.order_price p {
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    color: #000000;
}

.order img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

/* Bottom bar fixed */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    height: 92px;
}

main .orders:last-child {
    margin-bottom: 92px;
}

/* Button Before order finish - Chose 3 itens */
.order_button p {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: Roboto;
}

.order_button {
    background-color: #CBCBCB;
    height: 61px;
    width: 88%;
    border-radius: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Button order finish */
.order_button_finished p {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: Roboto;
}

.order_button_finished {
    background-color: #32B72F;
    height: 61px;
    width: 88%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/*  confirmation screen */

.confirmation_screen {
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.background_order_summary {
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    height: 353px;
    width: 377px;
}

.background_order_summary h1 {
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    margin-top: 21px;
    display: flex;
    justify-content: center;

}

.order_informations {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin-left: 26px;
    margin-right: 25px;
}

.order_informations p {
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 13px;
}

.order_informations p:nth-child(4) {
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
}

.prices_order {
    text-align: right;
}

.confirmation_button {
    margin-left: 24px;
    margin-top: 11px;
    background-color: #FFFFFF;
    height: 52px;
    width: 333px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation_button p {
    font-size: 22px;
    font-family: Roboto;
    color: #50D074;
    font-weight: 700;
}

.cancel_order {
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.cancel_order p {
    font-size: 20px;
    font-family: Roboto;
    color: #FFFFFF;
    font-weight: 700;
}